* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.image-container {
    width: 500px;
    height: 500px;
    outline: 1px solid black;
    position: relative;
    overflow: hidden;
}

.image-container .controller {
    position: absolute;
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    top: calc(50% - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.controller:hover {
    cursor: pointer;
}

.controller.one {
    left: 20px;
}

.controller.two {
    right: 20px;
}

.controller img {
    width: 30px;
    height: 30px;
}

.img-box {
    width: 1500px;
    height: 500px;
    display: flex;
    overflow: hidden;
    transition: transform 500ms ease;
}

img {
    width: 500px;
    object-fit: cover;
}